<!DOCTYPE html>
<html>
<head>
    <title>Testbed Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>Testbed Provisioning Dashboard</h2>

<div>
    <label>Select OS Image:</label>
    <select id="imageSelect"></select>
</div>

<div>
    <label>Select Blades:</label>
    <br>
    <input type="checkbox" value="blade1"> Blade 1
    <input type="checkbox" value="blade2"> Blade 2
    <input type="checkbox" value="blade3"> Blade 3
</div>

<br>

<button onclick="submitRequest()">Provision</button>

<pre id="output"></pre>

<script src="/static/app.js"></script>

</body>
</html>